{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/books" method="POST">
        <fieldset>
            <legend>New Book</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder= "title"
                class="form-control"
            >
            <label class="form-label">Author</label>
            <input 
                type="text" 
                name="author" 
                placeholder="author" 
                class="form-control"
            >
            <label class="form-label">Genre:</label>
            <input 
                type="text" 
                name="genre" 
                placeholder="genre"
                class="form-control"
            >
            <label class="form-label">Have Read:</label>
            <input 
                type="checkbox" 
                name="haveRead" 
                class="form-check-input"
            >
            <br>
            <label class="form-label">Notes:</label>
            <input
            type="text"
            name="review"
            placeholder="Here you can write your thoughts about the book"
            class="form-control">

        </fieldset>
        <input type="submit" value="Create New Book" class="btn btn-success">
    </form>
</div>
{% endblock %}