{% block content %}
    <div class="card mb-4 mt-3 shadow">
        <div class="card-body">
            <p>{{ comment.comment }}</p>
            <div class="d-flex justify-content-between">
                <small>author: {{ comment.author.username }}</small>
                {% if comment.author == userId %}
                    <form action="/comment/delete/{{book.id}}/{{comment.id}}?_method=DELETE" method="POST">
                        <input class="btn" type="submit" value="Delete" style="background-color:#c5283d;">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}