{% layout "layout.liquid" %}
{% block content %}

  <body class="index1">
        <div class="container" style="padding:70px 0; text-align:center; margin-top: 150px;">
            <h1 style=" font-size:100px;">My Booksafe</h1>
            
            <div>
                <div class="d-grip gap-2 d-md-block">
                    <a href="/users/signup" class="btn" style="margin-top: 10px; border-radius:15px; padding-left:50px; padding-right:50px;">Sign Up</a>
                    <br>
                <a href="/users/login" class="btn" style="margin-top: 10px; border-radius:15px; padding-left:50px; padding-right:60px;">Log In</a>
                </div>
            </div>
        </div>
    </body>
{% endblock %}