{% layout "layout.liquid" %}
{% block content %}

    <h1>Welcome!</h1>
    
    <div style="display: flex; justify-content:center;">
        <div class="d-grip gap-2 d-md-block">
            <a href="/users/signup" class="btn btn-success">Sign Up</a>
            <br>
           <a href="/users/login" class="btn btn-success">Log In</a>
        </div>
    </div>
{% endblock %}