* {
    font-family: 'Inconsolata', monospace;
}

.card {
    margin-left: 10px ;
    margin-right: 10px ;
    align-content: center;
    margin-bottom: 10px;
}

 .index1 {
      background-image: url('/journalBackground.jpg');
    height: 100vh;
    background-size: cover; 
     
 }
 
.btn {
    background-color: #003e1f;
    color: whitesmoke;
}

.signupPage {
    margin: auto;
    width: 25%;
    padding: 10px;
    text-align: center;
    margin-top: 175px;
    background-color: #F4F4F9;
    border: solid brown;
    border-radius: 10px;
}

.signupForm {
    border: solid brown;
    margin-left: auto;
    margin-right: auto;
}

.signupbackground {
    background-color: #f1e7dd;
}

.loginPage {
    margin: auto;
    width: 25%;
    padding: 10px;
    text-align: center;
    margin-top: 175px;
    background-color: #F4F4F9;
    border: solid brown;
    border-radius: 10px;
}

.loginForm {
    border: solid brown;
    margin-left: auto;
    margin-right: auto;
}

.review {
    width: 50%;
    padding: 10px;
  border: solid gray;
  background-color: #e9ecef;
  border-radius: 15px;
}

.logoutPage {
    width: 50%;
    padding:10px;
    border: solid brown;
    background-color: blanchedalmond;
    margin-top: 20px;
}

.loginbackground {
    background-color: #f1e7dd;
}

.form-control {
    border: solid brown;
}