* {
    font-family: 'Inconsolata', monospace;
}

.card {
    margin-left: 10px ;
    margin-right: 10px ;
    align-content: center;
    margin-bottom: 10px;
}

 .index1 {
      background-image: url('/journalBackground.jpg');
    height: 100vh;
    background-size: cover; 
     
 }
 
.btn {
    background-color: #003e1f;
    color: whitesmoke;
}

.signupPage {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}

.signupForm {
    border: solid brown;
    margin-left: auto;
    margin-right: auto;
}

.loginPage {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}

.loginForm {
    border: solid brown;
    margin-left: auto;
    margin-right: auto;
}

.review {
    width: 50%;
    padding: 10px;
  border: solid gray;
  background-color: lightgrey;
}